accelerate
bitsandbytes
bs4
colorama
cpm-kernels
fastapi
Flask
future
gradio
huggingface-hub
icetk
jieba
langchain
loguru
lxml
Markdown
nltk
numpy
openai
opencv-python
Pillow
protobuf
pycocotools-windows
pydantic
requests
rich
rouge-chinese
safetensors
scikit-learn
scipy
selenium
sse-starlette
starlette
streamlit
tensorboard
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
urllib3
uvicorn
zhdate
