accelerate==0.24.1
beautifulsoup4==4.12.2
bitsandbytes-windows==0.37.5
bs4==0.0.1
colorama==0.4.6
cpm-kernels==1.0.11
fastapi==0.104.1
Flask==2.3.2
future==0.18.3
gradio==3.41.2
huggingface-hub==0.19.4
icetk==0.0.4
jieba==0.42.1
langchain==0.0.345
loguru==0.7.2
lxml==4.9.2
Markdown==3.4.3
nltk==3.8.1
numpy==1.24.2
openai==1.3.5
opencv-python==4.7.0.72
Pillow==9.4.0
protobuf==3.20.0
pycocotools-windows
pydantic==2.5.1
PyYAML==6.0.1
requests==2.30.0
rich==13.3.2
rouge-chinese==1.0.3
safetensors==0.3.1
scikit-learn==1.3.2
scipy==1.11.1
selenium==4.8.3
sse-starlette==1.5.0
starlette==0.27.0
streamlit==1.22.0
tensorboard==2.15.1
tokenizers==0.13.3
torch
torchaudio
torchvision
tqdm==4.65.0
transformers==4.33.2
urllib3==1.26.15
uvicorn==0.21.1
zhdate==0.1
